body
{
	background: url("inserterror.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Nithan";
	
}

.inserterrorbox /*สี่เหลี่ยม*/
{
	width: 320px;
	height:  190px;
	background-color: #000000;
	color: #fff;
	top: 50%;
	left:50%;
	position: absolute; /*กึ่งกลาง*/
	transform: translate(-50%,-50%);/*กึ่งกลาง*/
	box-sizing: border-box;/*บล็อกขนาด*/
	border-radius: 5%;
	padding: 60px 40px;/*สูง,กว้าง กล่องข้อความ*/
	
}

h1
{
	margin: 0;
	margin-top: -50px;
	padding: 0px 0px 0px;/*จัดตำเเหน่งสามตัว*/
	text-align: center;
	font-size: 25px;
	
}


h2
{
	margin: 0;
	margin-top: 5px;
	padding: 0px 0px 0px;/*จัดตำเเหน่งสามตัว*/
	text-align: center;
	font-size: 17px;
	
}

.inserterrorbox input
{
	
	width: 100%;
	margin-bottom: 10px;
	font-family: "Nithan";
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

.inserterrorbox input[type="submit"]
{
	border:none;
	outline: none;
	height: 40px;
	background: #3366FF;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	display: block;
	
	
	
}

.inserterrorbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #F5DEB3;
	color: #000;
}






