body
{
	background: url("delete.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Nithan";
}

.deletebox
{
	width: 350px;
	height:  220px;
	background-color:#00CC66;
	color: #000000;
	top: 40%;
	left:50%;
	position: absolute; /*กึ่งกลาง*/
	transform: translate(-50%,-50%);/*กึ่งกลาง*/
	box-sizing: border-box;/*บล็อกขนาด*/
	border-radius: 5%;
	padding: 55px 40px;/*สูง,กว้าง กล่องข้อความ*/
	
}

h1
{
	margin: -25px;
	padding: 0px 0 20px;
	text-align: center;
	font-size: 30px;
	
}

h2
{
	margin: -20px;
	padding: 10px 0 20px;
	text-align: center;
	font-size: 25px;
	
}


.deletebox p
{
	margin : 5; /*ระยะห่างบรรทัด*/
	padding: 0;
	margin-top: 30px;
	font-weight: bold;	
	font-size: 20px;
}



.deletebox input[type="number"]
{
	border: none;
	border-bottom: 1px solid #CD5C5C;
	background : transparent;
	outline : none;
	height: 40px;
	color: #FEFEFE;
	font-size: 20px;

}

.deletebox input
{
	width: 100%;
    margin-bottom: 15px;
	font-weight: bold;
	font-family: "Nithan";
}


.deletebox input[type="submit"]
{
	border:none;
	outline: none;
	height: 40px;
	background: #4c4c4c;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.deletebox input[type="submit"]:hover
{
	
	cursor: pointer;
	background: #7FFFD4;
	color: #000;
	
}

.deletebox input[type="reset"]
{
	border:none;
	outline: none;
	height: 40px;
	background: #4c4c4c;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.deletebox input[type="reset"]:hover
{
	
	cursor: pointer;
	background: #7FFFD4;
	color: #000;
	
}

















